<?xml version="1.0" encoding="utf-8"?>
<events version="1">
  <event id="f44c95fcdb764b1ebf1af411792367b6" status="Draft" createdAt="2025-11-14T08:23:57.6892955Z" createdBy="ua.asu@fia.org">
    <university>Arizona State University</university>
    <name>November Fair Update</name>
    <date>2025-11-30T07:00:00.0000000Z</date>
    <description>November Event for testing helper workflows and event changes.</description>
    <courses />
  </event>
  <event id="19ac1c235daf4bc7a7daee505e42455a" status="Draft" createdAt="2025-11-29T02:50:38.1385721Z" createdBy="testgcu@gmail.com">
    <university>Grand Canyon University</university>
    <name>Test</name>
    <date>2025-12-02T07:00:00.0000000Z</date>
    <description>dd</description>
    <courses />
  </event>
  <event id="d7fd4f06e53f4e3889bb6dd1768d475a" status="Draft" createdAt="2025-11-29T08:54:07.0491721Z" createdBy="ua.asu@fia.org">
    <university>Arizona State University</university>
    <name>Log Testing</name>
    <date>2025-12-05T07:00:00.0000000Z</date>
    <description>Test for Log working</description>
    <courses />
  </event>
  <event id="fb3b012d5cc6418bb7b1a09438fb7ef7" status="Draft" createdAt="2026-01-21T22:49:08.7323545Z" createdBy="ua.asu@fia.org">
    <university>Arizona State University</university>
    <name>Participant UI and Sprint 6 Testing</name>
    <date>2026-04-30T07:00:00.0000000Z</date>
    <description>description</description>
    <courses />
  </event>
</events>